<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>label</key>
			<string>GENERAL</string>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.susudear.themecore</string>
			<key>get</key>
			<string>readPreferenceValue:</string>
			<key>key</key>
			<string>Enabled</string>
			<key>label</key>
			<string>ENABLED</string>
			<key>localizationTable</key>
			<string>Root</string>
			<key>set</key>
			<string>setPreferenceValue:specifier:</string>
		</dict>
		<dict>
			<key>label</key>
			<string>THEME_SECTION</string>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>TCThemeListController</string>
			<key>id</key>
			<string>TC_SELECT_THEME</string>
			<key>isController</key>
			<true/>
			<key>label</key>
			<string>SELECT_THEME</string>
			<key>localizationTable</key>
			<string>Root</string>
		</dict>
		<dict>
			<key>action</key>
			<string>refreshIcons</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>REFRESH_ICONS</string>
			<key>localizationTable</key>
			<string>Root</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerAlignment</key>
			<integer>1</integer>
			<key>footerCellClass</key>
			<string>PSFooterHyperlinkView</string>
			<key>footerHyperlinkAction</key>
			<string>tc_openRepository:</string>
			<key>footerHyperlinkRange</key>
			<string>{12, 3}</string>
			<key>headerFooterHyperlinkButtonTitle</key>
			<string>作者：SuSuDear
越狱源</string>
			<key>id</key>
			<string>THEMECORE_AUTHOR_FOOTER</string>
		</dict>
	</array>
	<key>title</key>
	<string>ThemeCore</string>
</dict>
</plist>
